@import url("https://fonts.googleapis.com/css?family=Bitter&display=swap");

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Bitter", serif;
}

/*************** navbar **************/
.navbar {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(12, 11, 11);
  z-index: 1;
  opacity: 0.8;
}
.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.nav-icon {
  font-size: 1.5rem;
  color: #ececec;
}
.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-items {
  position: absolute;
  right: -10px;
  top: -10px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(---mainWhite);
}

/*------------End of Nav Bar ******************/
/***************Hero************************/
.hero {
  min-height: calc(100vh - 60px);
  background-image: url("img/closet.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 2rem;
}
.banner-title {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
}
.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
}
.banner-btn:hover {
  background: transparent;
  color: var(--primaryColor);
}

/**************** SideBar ********************/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--mainBlack);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  margin-left: -1rem;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: var(--mainGrey);
}

/************** end of sidebar *****************/

/**************** End of Hero ****************/
/***************** Products ******************/

.products {
  padding: 4rem 0;
  background-color: beige;
}
.product {
  margin: 1rem;
}
.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.product-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));*/
  grid-template-columns: repeat(2, 1fr);
  /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;
  width: 300px;
  margin: 0 auto;
}
.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  text-transform: uppercase;
  border: none;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: var(--mainWhite);
}
.fas fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}
.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
}
/******************end of product *********************/
/****************** cart ******************************/

/**
#cartOverlayId {
  position: fixed;
  width: 1000px;
  height: 100%;
  background: rgb(240, 157, 81, 0.5);
  right: -1000px;
  opacity: 1;
}
*/

#cartId {
  position: fixed;
  top: 60px;
  width: 350px;
  height: 100%;
  background: var(--mainWhite);
  right: -350px;
  padding: 2rem;
  opacity: 1;
  overflow: scroll;
  z-index: 3;
  transition: var(--mainTransition);
}

/* #cartOverlayId.active {
  right: 0px;
}

#cartId.active {
  right: 0px;
  opacity: 1;
}
*/
.sideBarTitle {
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}
.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
/************************Cart Item *******************/

.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}

.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}

.chevronUpIcon {
  padding: 0px;
  border: none;
  background: none;
}
.chevronDownIcon {
  padding: 0px;
  border: none;
  background: none;
}

/**************************** end of Cart Item *******/
.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/*************************End of Cart **************/

/************************ authentication form ***********/

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/**************** end of authentication form ****************/

/******************** banner of authentication.html **********/

.banner-title2 {
  margin: 1rem;
  text-align: center;
}

a:link {
  color: var(--mainWhite);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(7, 5, 5);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(32, 81, 216);
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}

.noAccount {
  margin: 1rem 1rem;
}

.signInLink {
  text-decoration: underline;
  color: blue;
}

.buttonEnter {
  padding: 2rem;
}
